<div class="ui three column stackable grid link cards">
  {{#each cities as |city|}}
    <div class="column">
      {{#link-to 'cities.city.city-filters' city.id class="ui fluid card"}}
        <div class="image">
          <div class="card-image" style="height: 420px; background-image: url('{{city.splash}}'); background-size: cover;"></div>
        </div>
        <div class="content">
          <div class="header">{{city.name}}</div>
          <div class="meta">
            {{#if city.fellows}}
              <i class="user icon"></i>
              Fellows
            {{else}}
              No Fellows
            {{/if}}
          </div>
        </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>