<div class="ui three column stackable grid link cards">
  {{#each cities as |city|}}
    <div class="column">
      {{#tdi-card route='cities.city.city-filters' 
                  modelContext=city.id 
                  image=city.splash
                  height=300}}
        <span class="right floated">
          {{#if city.fellows}}
            <i class="user icon"></i>
            Fellows
          {{/if}}
        </span>
        {{city.name}}
      {{/tdi-card}}
    </div>
  {{/each}}
</div>