<div class="ui three column grid link cards">
  {{#each cities as |city|}}
    <div class="column">
      {{#link-to 'cities.city.details' city.id class="ui fluid card"}}
        <div class="image">
          <img class="card-image" src="{{city.splash}}" style="max-width: 100%; max-height: 100%;" />
        </div>
        <div class="content">
          <div class="header">{{city.name}}</div>
          <div class="meta">
            {{#if city.fellows}}
              <i class="user icon"></i>
              Fellows
            {{else}}
              No Fellows
            {{/if}}
          </div>
        </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>