{{#each visibleFeatures as |feature|}}
  {{#if feature.latitude}}
    {{#marker-layer lat=feature.latitude lng=feature.longitude opacity=0.5}}
      {{#popup-layer}}
        <h3>{{feature.name}}</h3>
        Type: {{feature.assetType}}
      {{/popup-layer}}
    {{/marker-layer}}
  {{/if}}
{{/each}}