<table class="ui basic table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each properties as |property|}}
      {{#if (is-not-empty (get model property))}}
        <tr>
          <td>{{humanize-string property}}</td>
          <td>{{get model property}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
