{{#link-to route modelContext class="ui fluid card"}}
  <div class="image">
    <div class="card-image" style={{style}}></div>
  </div>
  <div class="content splash-inverted">
    {{yield}}
  </div>
{{/link-to}}