{{#link-to route modelContext class="ui fluid card"}}
  <div class="image">
    <div class="card-image" style="min-height: {{height}}px; background-image: url('{{image}}'); background-size: cover;"></div>
  </div>
  <div class="content splash-inverted">
    {{yield}}
  </div>
{{/link-to}}