/* dependencies */
@import "ember-searchable-select/style";
@import "ember-power-select";

@mixin font-face($name) {
  @font-face {
    font-family: $name;
    src:  url("../fonts/#{$name}.eot?") format("eot"),
    url("../fonts/#{$name}.woff") format("woff");
  }
}

@include font-face('Dosis-ExtraLight');
@include font-face('Dosis-Light');
@include font-face('Dosis-ExtraBold');
@include font-face('Dosis-Bold');
@include font-face('Dosis-Medium');
@include font-face('Dosis-Regular');
@include font-face('Dosis-SemiBold');

div,h1,h2,h3,h4,h5,h6,span,em,li,ul {
    font-family: 'Dosis-Regular' !important;
}

// colors
$primary-color: #0A4650;
$gray: #E1E1E1;

html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.choropleth-menu {
  position: absolute;
  right:0;
  z-index: 9999;
}

.basemap-menu {
  position: absolute;
  right:15px;
  bottom: 15px;
  z-index: 9999;
}

.sidebar-tab {
  position: absolute;
  left:-15px;
  z-index: 500;
  top:49%;
}

.resource-nav-menu {
  position: absolute;
  top: 0px;
  right: 15px;
}

.hidden {
  display: none;
  visibility: inherit;
}

.hidden-custom {
  display: none;
  visibility: inherit;
}

/* nav */
nav {
  position: absolute;
  z-index: 9999;
  width: 100%;
  // display: flex;
  // flex-direction: row;
  // background: pink;
  // height: 40px;
  // justify-content: space-around;
  // align-items: center;
}

main {
  height: 100%;
  padding-top:63px !important;
  padding-bottom:0px !important;
}

.hide-sidebar {
  display: none;
}

.cities {
  height: 100%;
  position: relative;
}

.list-results {
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.map-results {
  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding: 0;
  }

  .ui.grid > .column:not(.row) {
    padding: 0;
  }
}

.cities-map {
  height: 85%;
  width: 100%;
  margin: 0;
  position: relative;
  padding: -1rem;
}

.has-pointer {
  cursor: pointer;
}

/* details */

.Searchable-select {
  min-width: 350px;
}

.detail-full-screen {
  background-color: white;
  
}

.map-popup {
  position: absolute;
  z-index: 9999;
  max-width: 180px;
}

.c3-event-rect {
  cursor: pointer;
}

// .liquid-child { position: relative !important;}

.detail-full-height {
  z-index: 9999;
  height: 100%;
  top: 63px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.ui-visibility-sticky {
  // width: 100%;
  background-color: white;
}


// Semantic UI overrides
.ui.inverted.main.menu {
  background: $primary-color;
}

.ui.header {
  font-family: 'Dosis-Regular';
}

.ui.menu.main.inverted {
  border-radius: 0;
}

.ui.header.splash {
  color: $primary-color;
}

.ui.header.splash.semi-bold {
  font-family: 'Dosis-ExtraBold';
}

.ui.card > .content.splash-inverted {
  background: $primary-color;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Dosis-SemiBold';
}

.Searchable-select__option, .Searchable-select__input {
  color: black;
}
