/* dependencies */
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.choropleth-menu {
  position: absolute;
  right:0;
  z-index: 9999;
}

.sidebar-tab {
  position: absolute;
  left:0;
  z-index: 9999;
}

.crosshair {
  position: absolute;
  top: 49%;
  left: 49%;
  z-index: 1000;
}

/* nav */
nav {
  position: absolute;
  z-index: 9999;
  width: 100%;
  // display: flex;
  // flex-direction: row;
  // background: pink;
  // height: 40px;
  // justify-content: space-around;
  // align-items: center;
}

main {
  height: 100%;
  padding-top:50px !important;
  padding-bottom:0px !important;
}

.hide-sidebar {
  display: none;
}

.cities {
  height: 100%;
  position: relative;
}

.list-results {
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.map-results {
  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding: 0;
  }

  .ui.grid > .column:not(.row) {
    padding: 0;
  }
}

.cities-map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: -1rem;
}

.has-pointer {
  cursor: pointer;
}

/* details */

.detail-full-screen {
  background-color: white;
  
}

// .liquid-child { position: relative !important;}

.detail-full-height {
  z-index: 9999;
  height: 100%;
  top: 50px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

@import "cities-grid-component";
