/* dependencies */
@import "ember-searchable-select/style";
@import "ember-power-select";

html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.choropleth-menu {
  position: absolute;
  right:0;
  z-index: 9999;
}

.basemap-menu {
  position: absolute;
  right:15px;
  bottom: 15px;
  z-index: 9999;
}

.sidebar-tab {
  position: absolute;
  left:-15px;
  z-index: 500;
  top:49%;
}

.resource-nav-menu {
  position: absolute;
  top: 0px;
  right: 15px;
}

.hidden {
  display: none;
  visibility: inherit;
}

.hidden-custom {
  display: none;
  visibility: inherit;
}

/* nav */
nav {
  position: absolute;
  z-index: 9999;
  width: 100%;
  // display: flex;
  // flex-direction: row;
  // background: pink;
  // height: 40px;
  // justify-content: space-around;
  // align-items: center;
}

main {
  height: 100%;
  padding-top:63px !important;
  padding-bottom:0px !important;
}

.hide-sidebar {
  display: none;
}

.cities {
  height: 100%;
  position: relative;
}

.list-results {
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.map-results {
  .ui.grid > .column:not(.row), .ui.grid > .row > .column {
    padding: 0;
  }

  .ui.grid > .column:not(.row) {
    padding: 0;
  }
}

.cities-map {
  height: 85%;
  width: 100%;
  margin: 0;
  position: relative;
  padding: -1rem;
}

.has-pointer {
  cursor: pointer;
}

/* details */

.Searchable-select {
  min-width: 350px;
}

.detail-full-screen {
  background-color: white;
  
}

.map-popup {
  position: absolute;
  z-index: 9999;
  max-width: 180px;
}

.c3-event-rect {
  cursor: pointer;
}

// .liquid-child { position: relative !important;}

.detail-full-height {
  z-index: 9999;
  height: 100%;
  top: 63px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.ui-visibility-sticky {
  // width: 100%;
  background-color: white;
}

@import "cities-grid-component";

@import "ember-power-select";

.chart { width:250px; margin-left:5%;}
.chart .title { margin-bottom:-12px; font-size:13px;}
.x-scale { width:249px; color:#333; font-size:8px;}
.x-scale div { float:left; text-align:right; border-right:1px solid #eee; height:11px; padding-right:2px;}
.x-label { text-align:left; width:100%; padding-top:10px; font-size:10px;height:18px;}
.frequency-graph .x-scale div {text-align:right;}
.y-label {transform: rotate(90deg);transform-origin: left top 0; padding: 6px 0 0 26px; text-align:left; height:1px; font-size:10px;}
.y-scale { float:left; text-align:right; color:#333; font-size:8px; height:196px; margin-top:8px;}
.y-scale div { border-top:1px solid #eee; width:11px; padding-right:3px; margin-top:1px;}
.chart-body { background-color:#f7f7f7; border-top:10px solid #f7f7f7; width:230px;overflow:hidden;}
.chart-bar { font: 10px sans-serif; background-color:#b29959; text-align: center; padding: 1px; margin-top:100%; color: white; float:left; transition: all .5s ease-in-out; position:relative; border-right: 1px solid #f7f7f7;}
.chart-bar p { margin: 5px 3px 0 3px;}
.chart-body .placeholder-text { color: #e0e0e0; margin-top:66px}
