html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

.ember-application > .ember-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leaflet-container {
  height: 100%;
}


/* nav */
nav {
  display: flex;
  flex-direction: row;
  background: pink;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 300px;
  margin:0;
  padding:0;
}

main {
  display: flex;
  flex: 1;
  background: green;
}

.ui.vertical.menu {
  width: 100%;
}
/* content */
.cities {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cities-sidebar {
  width: 300px;
  background: purple;
}

.cities-detail {
  flex: 1;
}

@import "cities-grid-component";