.cities-grid-component {
  width: 100%;
  height: 100%;
  .flex-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: row-wrap;
    .col {
      width: 32%;
      height: 32%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
      }
    }
  }
}