{{#ember-wormhole to="left-items"}}
  <div class="item">
    {{#ui-dropdown class="dropdown ui button"}}
      <i class="plus icon"></i>
      Add Data
      <div class="menu">
        {{#link-to 'cities.city.new-feature' class='item'}}
          <i class="add circle icon"></i>
          Add Feature
        {{/link-to}}

        {{#link-to 'cities.city.new-investment' class='item'}}
          <i class="add circle icon"></i>
          Add Investment
        {{/link-to}}
      </div>
    {{/ui-dropdown}}
  </div>
{{/ember-wormhole}}

{{#ember-wormhole to="right-items"}}
  <div class="item">
    {{link-to 'Learn More' 'cities.city.index' tagName='div' class='ui inverted green button'}}
  </div>
  {{#if (and session.isAuthenticated)}}
    {{searchable-select content=searchables
                        sortBy='title'
                        on-change=(action 'transitionTo')
                        cache=false
                        prompt='Search Features / Investments'
                        class='item'}}
  {{/if}}
{{/ember-wormhole}}
{{outlet}}
