  <div class="cities-sidebar">
    <div class="ui container">
      <h1 class="ui header inverted">{{model.city.name}}</h1>
      {{!-- <img src="{{model.city.splash}}" style="max-width: 100%;" /> --}}
      {{outlet}}
    </div>
  </div>