<div class="ui grid detail-full-height">
  <div class="six wide column detail-full-screen ui segment">
    {{link-to '' 'cities.city.features' model class='large arrow left has-pointer icon' tagName='i'}}
    {{edit-feature model=model}}
  </div>
</div>