<div class="ui grid detail-full-height">
  <div class="six wide column detail-full-screen ui segment">
    {{link-to '' 'cities.city.parcels' model class='large arrow left has-pointer icon' tagName='i'}}
    {{edit-parcel model=model}}
  </div>
</div>