<div class="investments">
  <h2 class="ui header">
    <i class="dollar icon"></i>
    <div class="content">
      {{model.name}}
      <div class="sub header">{{model.assetType}}</div>
    </div>
  </h2>
  {{enumerate-properties 
    model=model
    properties=(array 'name' 'value' 'contact' 'employer' 'activating' 'assetType' 'subtype' 'comment' 'opendate' 'closedate')}}
  {{resource-nav-menu 
    session=session 
    routeSegment='edit-investment'
    model=model}}
</div>
<br/><br/><br/>
