<nav>
  <div class="ui menu">
    <div class="left menu">
      <div class="cubes item">
        {{#link-to 'application' class='cities-link'}}
          <i class="grid layout icon"></i>
        {{/link-to}}
      </div>
      {{#ui-dropdown class="dropdown item" selected=currentCity.city.name}}
        <div class="default text">Select Your City</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each model as |city|}}
            {{#link-to 'cities.city.city-filters' city.id class="item" tagName='a'}}
              {{city.name}}
            {{/link-to}}
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>

    <div class="right menu" id="add-data">
      {{#if (not session.isAuthenticated)}}
        <div class="item">
          {{link-to 'Login' 'login' class='login-link'}}
        </div>
      {{/if}}
    </div>
  </div>
</nav>
<main class="ui bottom attached segment">
  {{outlet}}
</main>
