<nav>
  <div class="logo">
    {{#link-to 'cities' class="cities-link"}}Cities >{{/link-to}}
  </div>
    {{#each model as |city|}}
      <div class="city menu">
        {{city.name}}
      </div>
    {{/each}}
  <div class="menu">
    {{#if session.isAuthenticated}}
      <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
    {{/if}}
  </div>
</nav>
<main>
  {{outlet}}
</main>