<div class="cities">
  <div class="cities-sidebar">
    <div class="ui link vertical menu">
      <h2 class="ui attached inverted header">Map Layers</h2>
    </div>
  </div>

  <div class="cities-detail">
    {{outlet}}
  </div>
</div>