<div class="ui basic center aligned segment">
  <h1 class="ui splash header">
    <div class="content">
      Block x Block
      <div class="sub header">Mapping the place-based economic development activity enabled by the 
        <div><h3 class="ui splash semi-bold header">Transformation Development Initiative</h3></div>
      </div>
    </div>
  </h1>
</div>

<div class="ui container">
  {{cities-grid cities=(sort-by 'name' model)}}
</div>
